@model IEnumerable<Exercise13.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>No Of Courses: @ViewBag.NumberOfCourses </h2>
<h3>All Technologies:</h3>
<ul>
    @foreach (var technology in ViewBag.AllTechnologies)
    {
        <li>@technology</li>
    }
</ul>
<h2>@ViewData["WelcomeMsg"]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Technology)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CId })
            </td>
        </tr>
    }

</table>
